<div class="container">
  <div class="row">
    <div class="w-50 p-2">
      <mat-card>
        <mat-card-content>
          <div>
            <h2>Total Rides</h2>
          </div>
          <div>
            <h2>{{totalRide}}</h2>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="w-50 p-2">
      <mat-card>
        <mat-card-content>
          <div>
            <h2>Total Earning</h2>
          </div>
          <div>
            <h2>{{totalEarning}}</h2>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <div>
    <mat-card>
      <mat-card-content>
        dddd
      </mat-card-content>
    </mat-card>
  </div>
</div>