<div class="container mt-4">
  <div class="row">
    <div class="w-50 p-4">
      <mat-card>
        <mat-card-content>
          <div>
            <h2>Total Rides</h2>
          </div>
          <div>
            <h2>{{totalRide}}</h2>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

    <div class="w-50 p-4">
      <mat-card>
        <mat-card-content>
          <div>
            <h2>Total Earning</h2>
          </div>
          <div>
            <h2>{{totalEarning}}</h2>
          </div>
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <div class="row">
    <div class="w-50 p-4">
      <mat-card>
        <mat-card-content>
          <canvas id="ride_chart"></canvas>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="w-50 p-4">
      <mat-card>
        <mat-card-content>
          <canvas id="earning_chart"></canvas>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>